rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email.matches("(?i)alefejohsefe@gmail.com") ||
        request.auth.token.email.matches("(?i)kalebhstanley650@gmail.com") ||
        request.auth.token.email.matches("(?i)contato@dafamilialanches.com.br") ||
        request.auth.token.email.matches("(?i)carols2maite@gmail.com") ||
        request.auth.token.email.matches("(?i)degustbolosnopote@gmail.com")
      );
    }

    match /Pedidos/{documentId} {
      allow create: if request.auth != null;
      allow read, list: if isAdmin() || (request.auth != null && request.auth.uid == resource.data.userId);
      allow update: if isAdmin() || (request.auth != null && request.auth.uid == resource.data.userId);
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /Entregadores/{entregadorId} { allow read, write: if isAdmin(); }
    match /settings/{documentId} { allow read: if true; allow write: if isAdmin(); }
    match /Cupons/{cupomId} { allow read: if true; allow create, update, delete: if isAdmin(); }
    match /RecompensasConfig/{documentId} { allow read: if true; allow write: if isAdmin(); }
    match /CuponsUsuarios/{documentId} { allow read, write: if request.auth != null && request.auth.uid == documentId; }

    match /Usuarios/{userId}/RecompensasRecebidas/{documentId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    match /Usuarios/{userId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /TaxasDeEntrega/{docId} {
      allow read: if true;
      allow write: if isAdmin();
      match /{subCollection}/{subDoc} {
        allow read: if true;
        allow write: if isAdmin();
      }
    }

    match /CatalogoProdutos/{documentId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /CatalogoAdicionais/{documentId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
